<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="assets/img/ircon-flags-racing.svg" alt="icon-racing-flags">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="home">
                <i class="material-icons">home</i>
                Home
            </a>
            <a mat-list-item routerLink="driver">
                <i class="material-icons">sports_motorsports</i>
                Drivers
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">engineering</i>
                Engineers
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">construction</i>
                Mechanics
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">person</i>
                Managers
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">event_note</i>
                Requests
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">data_object</i>
                Swagger
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">commit</i>
                GitHub
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">logout</i>
                Logout
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <app-header></app-header>
        <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>