<div class="container mat-elevation-z8">
    <h1 class="full-width">Creating Request</h1>
    <img class="full-width" src="assets/img/icon-request-create.svg" alt="telemetry">

    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Request Title</mat-label>
            <input matInput placeholder="Ex. request description" >
        </mat-form-field>
    </form>

    <div class="status-priority">
        <mat-form-field appearance="outline">
            <mat-label>Select Status</mat-label>
            <mat-select>
                <mat-option value="0">OPEN</mat-option>
                <mat-option value="1">PROGRESS</mat-option>
                <mat-option value="2">CLOSED</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Select Priority</mat-label>
            <mat-select>
                <mat-option value="0">LOW</mat-option>
                <mat-option value="1">MEDIUM</mat-option>
                <mat-option value="2">HIGH</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="engineer">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Select Engineer</mat-label>
            <mat-select>
                <mat-option value="0">engineer</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="mechanic">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Select Mechanic</mat-label>
            <mat-select>
                <mat-option value="0">mechanic</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea class="description" matInput placeholder="Ex. service notes"></textarea>
        </mat-form-field>
    </form>

    <button class="full-width mat-elevation-z4" mat-raised-button color="primary">Create</button>
    <button class="full-width mat-elevation-z4" mat-stroked-button color="warn">Cancel</button>

    <p class="full-width" >Developer by Julius Cavalcante</p>

</div>